table {
    border-collapse: collapse;
}

table, td, th {border: 1px solid #cccccc;padding:5px;}
.buttoncss {background-color: #4CAF50;
    border: none;cursor:pointer;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;border-radius: 5px;
    font-size: 12px;font-weight: bold;
}
.buttoncss:hover {
    background-color: #008CBA;
    color: white;
}
input{border: 1px solid #ccc;padding: 5px 0px;border-radius: 3px;padding-left:5px;}